html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.08;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.explanation {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
}

.explanation div {
    padding: 0.5rem;
}

.main-display {
    display: grid;
    grid-gap: 2rem;
    margin: 1rem auto;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.input-area {
    display: flex;
    flex-direction: column;
}

.input-area input {
    height: 20%;
}

.show {
    display: block !important;
}

#yes {
    display: none;
    padding-top: 1rem;
}

#no {
    display: none;
    padding-top: 1rem;
}

#invalid {
    display: none;
    padding-top: 1rem;
}
